certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.0.2
django-dotenv==1.4.2
django-request==1.5.4
django-toolbelt==0.0.1
djangorestframework==3.9.1
dotenv==0.0.5
get==0.0.39
gunicorn==19.7.1
idna==2.6
post==0.0.26
psycopg2-binary==2.7.4
public==0.0.65
python-dateutil==2.6.1
pytz==2018.3
query-string==0.0.28
request==0.0.26
requests==2.18.4
six==1.11.0
static3==0.7.0
urllib3==1.22
whitenoise==3.3.1
