<div class="container">
    <div class="row">
        <h2 class="header col push-md-3 col-md-6">Users</h2>
        <button type="button" ng-click="newUserForm=true" ng-init="newUserForm=false"
            class="new-user-button col col-md-2 btn btn-outline-primary waves-effect">New user
        </button>
    </div>
    <div class="row">
        <div class="col push-md-3 col-md-6">
            <div class="list-group-item d-flex justify-content-between" style="font-weight:bold">
                <span>Name</span>
                <span>Email</span>
                <span>Delete user</span>
            </div>
            <a class="list-group-item list-group-item-action d-flex justify-content-between"
                    ng-click="goToSongsPage(user)" ng-repeat="user in users">
                <span>{{user.name}}</span>
                <span>{{user.email}}</span>
                <button type="button" class="delete-button btn btn-outline-primary waves-effect"
                        data-toggle="tooltip" data-placement="bottom" ng-click="deleteUser($event, $index)">
                    &#x2717
                </button>
            </a>
        </div>
    </div>

    <form id="new-user-form" ng-show="newUserForm==true">
        <div class="form-group">
            <label for="new-user-name">New user name</label>
            <input type="text" class="form-control" id="new-user-name" placeholder="Enter user name">
        </div>
        <div class="form-group">
            <label for="new-user-email">New user email address</label>
            <input type="email" class="form-control" id="new-user-email" placeholder="Enter email">
        </div>
        <button type="button" class="btn btn-outline-primary waves-effect" ng-click="addUser()">OK</button>
        <button type="button" style="margin-left: 4rem" class="btn btn-outline-primary waves-effect" ng-click="newUserForm=false;">CANCEL</button>
    </form>

</div>



